<!DOCTYPE html>
<html>
  <head>
    <title>Button Group &middot; Openwind</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="max-w-2xl mx-auto my-10 space-y-5">
    <h1 class="text-2xl">Button Group</h1>
    <div class="flex">
      <button
        type="button"
        class="rounded-l px-4 py-2 border border-r-0 shadow-sm text-gray-700 hover:text-gray-800 focus:text-gray-800 bg-white hover:bg-gray-50 focus:bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none"
      >
        Left
      </button>
      <button
        type="button"
        class="rounded-r px-4 py-2 border shadow-sm text-gray-700 hover:text-gray-800 focus:text-gray-800 bg-white hover:bg-gray-50 focus:bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none"
      >
        Right
      </button>
    </div>
    <div class="flex">
      <button
        type="button"
        class="rounded-l px-4 py-2 border border-r-0 shadow-sm text-gray-700 hover:text-gray-800 focus:text-gray-800 bg-white hover:bg-gray-50 focus:bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none"
      >
        Left
      </button>
      <button
        type="button"
        class="px-4 py-2 border border-r-0 shadow-sm text-gray-700 hover:text-gray-800 focus:text-gray-800 bg-white hover:bg-gray-50 focus:bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none"
      >
        Middle
      </button>
      <button
        type="button"
        class="rounded-r px-4 py-2 border shadow-sm text-gray-700 hover:text-gray-800 focus:text-gray-800 bg-white hover:bg-gray-50 focus:bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none"
      >
        Right
      </button>
    </div>
    <div class="flex">
      <button
        type="button"
        class="rounded-l px-4 py-2 border border-r-0 shadow-sm text-gray-700 hover:text-gray-800 focus:text-gray-800 bg-white hover:bg-gray-50 focus:bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none"
      >
        Left
      </button>
      <button
        type="button"
        class="px-4 py-2 border border-r-0 shadow-sm text-gray-700 hover:text-gray-800 focus:text-gray-800 bg-white hover:bg-gray-50 focus:bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none"
      >
        Middle
      </button>
      <button
        type="button"
        class="rounded-r px-4 py-2 border shadow-sm text-green-700 hover:text-green-800 focus:text-green-800 bg-white hover:bg-green-50 focus:bg-green-50 border-green-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-100 focus:ring-green-500 transition motion-reduce:transition-none"
      >
        Success
      </button>
    </div>
    <h2 class="text-xl">Colored buttons</h2>
    <div class="flex">
      <button
        type="button"
        class="rounded-l px-4 py-2 border shadow-sm bg-red-700 hover:bg-red-800 focus:bg-red-800 text-white hover:bg-red-50 focus:bg-red-50 border-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-100 focus:ring-red-500 transition motion-reduce:transition-none"
      >
        Stop
      </button>
      <button
        type="button"
        class="px-4 py-2 border shadow-sm bg-yellow-700 hover:bg-yellow-800 focus:bg-yellow-800 text-white hover:bg-yellow-50 focus:bg-yellow-50 border-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-yellow-100 focus:ring-yellow-500 transition motion-yellowuce:transition-none"
      >
        Look
      </button>
      <button
        type="button"
        class="rounded-r px-4 py-2 border shadow-sm bg-green-700 hover:bg-green-800 focus:bg-green-800 text-white hover:bg-green-50 focus:bg-green-50 border-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-100 focus:ring-green-500 transition motion-reduce:transition-none"
      >
        Go
      </button>
    </div>
  </body>
</html>
