<!DOCTYPE html>
<html>
  <head>
    <title>Button &middot; Openwind</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="max-w-2xl mx-auto my-10 space-y-5">
    <h1 class="text-2xl">Button</h1>
    <h2 class="text-xl">Ghost buttons</h2>
    <div>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm text-gray-700 hover:text-gray-800 focus:text-gray-800 bg-white hover:bg-gray-50 focus:bg-gray-50 border-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none mr-3"
      >
        Default
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm text-indigo-700 hover:text-indigo-800 focus:text-indigo-800 bg-white hover:bg-indigo-50 focus:bg-indigo-50 border-indigo-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-100 focus:ring-indigo-500 transition motion-reduce:transition-none mr-3"
      >
        Primary
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm text-green-700 hover:text-green-800 focus:text-green-800 bg-white hover:bg-green-50 focus:bg-green-50 border-green-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-100 focus:ring-green-500 transition motion-reduce:transition-none mr-3"
      >
        Success
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm text-red-700 hover:text-red-800 focus:text-red-800 bg-white hover:bg-red-50 focus:bg-red-50 border-red-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-100 focus:ring-red-500 transition motion-reduce:transition-none mr-3"
      >
        Danger
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm text-yellow-700 hover:text-yellow-800 focus:text-yellow-800 bg-white hover:bg-yellow-50 focus:bg-yellow-50 border-yellow-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-yellow-100 focus:ring-yellow-500 transition motion-yellowuce:transition-none mr-3"
      >
        Warning
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm text-blue-700 hover:text-blue-800 focus:text-blue-800 bg-white hover:bg-blue-50 focus:bg-blue-50 border-blue-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-blue-100 focus:ring-blue-500 transition motion-blueuce:transition-none mr-3"
      >
        Info
      </button>
    </div>
    <h2 class="text-xl">Block buttons</h2>
    <div>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm bg-gray-700 hover:bg-gray-800 focus:bg-gray-800 text-white hover:bg-gray-50 focus:bg-gray-50 border-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-gray-500 transition motion-reduce:transition-none mr-3"
      >
        Default
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm bg-indigo-700 hover:bg-indigo-800 focus:bg-indigo-800 text-white hover:bg-indigo-50 focus:bg-indigo-50 border-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-100 focus:ring-indigo-500 transition motion-reduce:transition-none mr-3"
      >
        Primary
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm bg-green-700 hover:bg-green-800 focus:bg-green-800 text-white hover:bg-green-50 focus:bg-green-50 border-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-100 focus:ring-green-500 transition motion-reduce:transition-none mr-3"
      >
        Success
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm bg-red-700 hover:bg-red-800 focus:bg-red-800 text-white hover:bg-red-50 focus:bg-red-50 border-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-100 focus:ring-red-500 transition motion-reduce:transition-none mr-3"
      >
        Danger
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm bg-yellow-700 hover:bg-yellow-800 focus:bg-yellow-800 text-white hover:bg-yellow-50 focus:bg-yellow-50 border-yellow-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-yellow-100 focus:ring-yellow-500 transition motion-yellowuce:transition-none mr-3"
      >
        Warning
      </button>
      <button
        type="button"
        class="rounded px-4 py-2 border shadow-sm bg-blue-700 hover:bg-blue-800 focus:bg-blue-800 text-white hover:bg-blue-50 focus:bg-blue-50 border-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-blue-100 focus:ring-blue-500 transition motion-blueuce:transition-none mr-3"
      >
        Info
      </button>
    </div>
  </body>
</html>
